html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.Header {
  background-color: #fff;
}

.Menus {
  float: right;
}

.ant-modal-footer button {
  display:none;
}


.rss_thumbnail{
  display: table-row;;
  height: 100px;
  width: 100px;
  font-size: 16px;
    img {
      width: 100%;
    }
}



.list-group-item-heading {
  padding: 10px 0;
    img {
      width: 20px;
      margin: 10px 8px 0 0;
    }
}

.Button-auth {
  display: block;
  width: 386px;
  height: 64px;
}




/*Todo*/



.todo__text {
  width: 200px;
  border-bottom: 1px solid rgba(0,0,0,.12);
  margin-left: 3px;
}


.add-note {
  background-color: #fdfdfd;

  border: 1px solid #ccc;
}

.notes {
  margin: 0.5em;
  padding-left: 0;

  max-width: 10em;
  list-style: none;
}

.note {

  overflow: auto;

  margin-bottom: 0.5em;
  padding: 0.5em;

  background-color: #fdfdfd;
  box-shadow: 0 0 0.3em .03em rgba(0,0,0,.3);
}
.note:hover {
  box-shadow: 0 0 0.3em .03em rgba(0,0,0,.7);
  transition: .6s;
}

.note .value {
  display: inline-block;
}

.note .editable {

  float: left;
}


.note .delete {
  float: right;

  padding: 0;

  background-color: #fdfdfd;
  border: none;

  cursor: pointer;

  visibility: hidden;
}

.note:hover .delete {
  visibility: visible;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
